---
import BaseLayout from '../../layouts/BaseLayout.astro';
import DefaultLayout from '../../layouts/DefaultLayout.astro';

import { getCollection } from 'astro:content';
import Selector from '../../components/Selector';

const dataPosts = await getCollection('blog');

const listOfYears: any[] = [];
const groupBy = (list: any[], keyGetter: { (post: any): any; (arg0: any): any; }) => {
	const map = new Map();
	list.forEach((item) => {
		const key = keyGetter(item);
		const collection = map.get(key);
		if (!collection) {
			listOfYears.push(key)
			map.set(key, [item]);
		} else {
			collection.push(item);
		}
});
	return map;
}

dataPosts.forEach((post: any) => {
	const year = new Date(post.data.pubDate).getFullYear();
	post.year = year;
});

const posts = groupBy(dataPosts, post => post.year);

listOfYears.sort((a,b) => b - a)
---

<DefaultLayout>
	<BaseLayout>
		<section class="p-5">
			<Selector client:load listOfYears={listOfYears.reverse()} posts={posts} />
		</section>
	</BaseLayout>
</DefaultLayout>

<style>
	.grid-cols-custom {
		grid-template-columns: 20% 50% 30%;
	}
</style>
