---
import BaseLayout from '../layouts/BaseLayout.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import RandomContent from '../components/RandomContent.astro';
---

<DefaultLayout>
	<BaseLayout>
		<section class="mb-20 relative p-5">
			<RandomContent />
		</section>
		<section class="relative p-5 container appear">
			<RandomContent />
		</section>
	</BaseLayout>
</DefaultLayout>

<style>
	.container {
		width: 100%;
	}

	.appear {
		transition: all 0.8s;
		opacity: 0;
		transform: translateY(60px);
	}

	.appear.inview {
		opacity: 1;
		transform: none;
		transition-delay: 0.3s;
	}
</style>

<script>
	const appear: any = document.querySelector('.appear'); 
	const cb = function(entries: any[]){
		entries.forEach(entry => {
			if(entry.isIntersecting){
				entry.target.classList.add('inview');
			}else{
				entry.target.classList.remove('inview');
			}
		});
	}
	const io = new IntersectionObserver(cb);
	io.observe(appear);
</script>
